<div class="modal show" tabindex="-1" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Complete Payment</h5>
        <button type="button" class="btn-close" (click)="paymentConfirmed.emit(false)"></button>
      </div>
      <div class="modal-body">
        <p>Please confirm your payment to proceed.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="paymentConfirmed.emit(false)">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="confirmPayment()">Confirm Payment</button>
      </div>
    </div>
  </div>
</div>
