body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

h1, h5 {
  font-weight: 700;
}

.card {
  border: none;
  margin-bottom: 1rem;
}

.card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar {
  margin-bottom: 1rem;
}

.modal-content {
  border-radius: 0.5rem;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}
