<div class="modal show" tabindex="-1" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Stake Your Tokens</h5>
        <button type="button" class="btn-close" (click)="stakeConfirmed.emit(0)"></button>
      </div>
      <div class="modal-body">
        <p>Select the amount of tokens to stake:</p>
        <input type="range" min="1" max="100" [(ngModel)]="stakeAmount" class="form-range">
        <p>Selected Amount: {{ stakeAmount }} tokens</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="stakeConfirmed.emit(0)">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="confirmStake()">Confirm Stake</button>
      </div>
    </div>
  </div>
</div>
